* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  /* Bg primary color */
  --bg-primary-color: #0c0c0c;
  --bg-fill-color: #e8f3e2;
  --bg-food-color: rgb(201, 1, 1);
  /* text primary color */
  --text-primary-color: #f0f0f0;

  /* Border color variables */
  --border-primary-color: #3d3d3d;

  /* Border radius variables */
  --border-radius-xs: 4px;
  --border-radius-sm: 8px;
  --border-radius-md: 12px;
  --border-radius-lg: 16px;
  --border-radius-xl: 20px;
  --border-radius-2xl: 24px;
  --border-radius-3xl: 28px;

  /* Spacing Variables */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-2xl: 40px;
  --space-3xl: 48px;
}

main,
section {
  height: 100%;
  width: 100%;
}

section {
  padding: var(--space-2xl);
  display: flex;
  flex-direction: column;
  background-color: #222222;
  gap: var(--space-lg);
}

section .infos {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: var(--space-sm) var(--space-md);
  border: none;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.1);
}
.info {
  padding: var(--space-sm) var(--space-md);
  border: 2px solid var(--border-primary-color);
  border-radius: var(--border-radius-sm);
}

.board {
  border: 2px solid var(--border-primary-color);
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(80px, 1fr));
}

.block {
  /* width: 30px;
  height: 30px; */
  border: 1px solid var(--border-primary-color);
}

.fill {
  background-color: var(--bg-fill-color);
}

.food {
  background-color: var(--bg-food-color);
}

.modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: #30303062;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .start-game,
.modal .game-over {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  align-items: center;
}

.modal .game-over {
  display: none;
}
